<footer>
    <div class="footer">
        <div class="content">
            <p>Asociación</p>
            <p>Desarrollado por Ángel</p>
        </div>
        <div class="links">
            <ul>
                <li><a href="{% url 'cookie-policy' %}">Política de Cookies</a></li>
                <li><a href="{% url 'cookie-settings' %}">Configuración de Cookies</a></li>
                <li><a href="{% url 'privacy-policy' %}">Política de Privacidad</a></li>
                <li><a href="{% url 'terms' %}">Términos y condiciones de uso</a></li>
                <li><a href="{% url 'messages.create' %}">Contacto</a></li>
            </ul>
        </div>
    </div>
  </footer>
  